<ion-header>
  <ion-navbar color="custom-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      受送金
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="send-content" padding>
  <div id="page3-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
    <p>
      アドレス（QRコード）で仮想通貨を受送金できます。
    </p>
  </div>
  <div id="page3-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
    <!--
     <ion-item>
      //今はここに打ち込みテストしていますが、URLは内部でゲットしてくるようにします
        <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData">
        </ion-input>
     </ion-item>
    -->
    <button ion-button class="submit-btn" full icon-left (click)="createCode()"><ion-icon name="apps"></ion-icon>自分のアドレスを表示</button>

    <ion-card *ngIf="myQr">
      <ngx-qrcode [qrc-value]="myAddress"></ngx-qrcode>
      <ion-card-content>
        <p>あなたのアドレス: {{ myAddress }}</p>
        <button ion-button  icon-left (click)="copy()"><ion-icon name="clipboard"></ion-icon>copy</button>
      </ion-card-content>
    </ion-card>

    <button ion-button class="submit-btn" full icon-left (click)="scanCode_main()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>QRコードをスキャンして送金</button>
    <button ion-button class="submit-btn" full icon-left (click)="selectCode_main()" color="secondary"><ion-icon name="albums"></ion-icon>宛先を選択して送金</button>
    <button ion-button class="submit-btn" full icon-left (click)="directCode()" color="secondary"><ion-icon name="create"></ion-icon>直接アドレスを入力して送金</button>

    <!--
    <ion-card *ngIf="yourAddress">
      <ion-card-content>
        Scanned: {{ yourAddress }}
      </ion-card-content>
    </ion-card>
    -->
  </div>
</ion-content>
